astroid==3.3.8
black==25.1.0
boto3==1.36.11
botocore==1.36.11
cffi==1.17.1
click==8.1.8
coverage==7.6.10
dill==0.3.9
flake8==7.1.1
gitdb==4.0.12
GitPython==3.1.44
iniconfig==2.0.0
isort==6.0.0
jmespath==1.0.1
loguru==0.7.3
mccabe==0.7.0
mypy==1.14.1
mypy-extensions==1.0.0
numpy==2.2.2
packaging==24.2
pathlib==1.0.1
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
pycodestyle==2.12.1
pycparser==2.22
pydub==0.25.1
pyflakes==3.2.0
pylint==3.3.4
pytest==8.3.4
pytest-cov==6.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==6.0.2
s3transfer==0.11.2
scipy==1.15.1
six==1.17.0
smbus2==0.5.0
smmap==5.0.2
sounddevice==0.5.1
soundfile==0.13.1
tomlkit==0.13.2
-e git+https://github.com/pgregg88/trooper.git@c82f34211c19614bbe4b09e3fc69e02550007345#egg=trooper
typing_extensions==4.12.2
urllib3==2.3.0
